:root {
    // Colors
    --killarney: #2D5A2D;
    --japanese-laurel: #247701;
    --la-palma: #33960A;
    --hint-of-green-dark: #bfffca;
    --hint-of-green-bright: #E2FDE7;
    --hint-of-green: #F9FFFA;

    --ecstasy: #F56A19;

    --cod-gray: #161415;
    --tundora: #3c3c3c;
    --dove-gray: #666666;
    --gray: #848484;
    --mercury: #E5E5E5;
    --gray-nurse: #ECEFEC;
    --white: #FFFFFF;
}
