:root {
    // Colors
    --killarney: #436d43;
    --japanese-laurel: #298204;
    --la-palma: #33960A;
    --hint-of-green-dark: #bfffca;
    --hint-of-green-bright: #dff8df;
    --hint-of-green: #F9FFFA;

    --ecstasy: #f37e39;

    --dark-gray: #2c2b2c;
    --tundora: #3c3c3c;
    --dove-gray: #666666;
    --gray: #848484;
    --mercury: #E5E5E5;
    --gray-nurse: #ECEFEC;
    --white: #FFFFFF;
}
